spring:
  application:
    name: tomelater

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  security:
    user:
      name: admin
      password: admin
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000 # 24 hours in milliseconds

firebase:
  service-account-file: classpath:firebase-service-account.json

server:
  port: 8006
  address: 0.0.0.0

logging:
  level:
    com.gowoobro.tomelater: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder: ERROR
